.text-dark {
  color: #000 !important;
}
.bg-dark {
  background-color: #000 !important;
}

.btn-amarelo {
  color: #fff;
  background-color: #F0B032;
  border-color: #F0B032;
}
/*
  Ajeitando os botões cor
*/
.btn-outline-warning {
  color: #F0B032;
  background-color: transparent;
  background-image: none;
  border-color: #F0B032;
}
/* 
Ajeitando botões do catalogo de corte
*/
.btn-custom{
  
}